body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 256px;
    position: fixed;
    top: 0;
    left: 0;
    background: #001D3A;
    overflow-x: hidden;
    display: block;
}

.sidenav::-webkit-scrollbar{
    display: none;
}

.sidenav li {
    padding: 16px 0px 12px 24px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
}

/*.sidenav li:first-child{*/
/*    border-bottom: 1.5px solid #243E5A;*/
/*}*/

.sidenav ul{
    margin : 0px;
    padding: 0px;
}

.sidenav li:hover {
    color: red;
}

.accordion-style {
    background-color: #001D3A;
    background: #001D3A;
}

.accordion-style li{
    background: #001D3A !important;
    outline: 0px;
}

.accordion-style button{
    background: #001D3A;
    color : white;
    border: none;
}

.accordion-style button:hover{
    border: none;
    background: none;
    cursor: pointer;
}

.accordion-style :focus{
    border: none!important;
    background: none;
    outline: none;
}

.accordion-style .bm-accordion__content{
    background: #001D3A;
    outline: none;
    border: none;
}

.nav-border-bottom{
    border-bottom: 1.5px solid #243E5A;
}

.accordion-style .bm-accordion__header{
    border: none;
}

.sidenav Link{
    text-transform:  none;
    text-decoration: none;
}

.sidenav-links{
    text-transform:  none;
    text-decoration: none;
}

.cursor-pointer{
    cursor: pointer;
}


