.dashboard-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin : 0px;
    background-color: #F8F8F8;
}

.table-container {
    display: flex;
    margin : 0px;

}

.column {
    flex : 50%;
    padding: 5px;
}
