.role-management-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin : 0px;
    background-color: black;
    height: 1200px;
}

.table-container {
    display: flex;
    margin : 0px;
    min-height: 600px;
}

.column {
    flex : 50%;
    padding: 5px;
}
